<%- include('header'); -%>

<body>
    <div class="box" id ="heading">
        <h1><%= list %></h1>
        <h2><%= time %> </h2>
    </div>

    <div class="box">
        <form action="/delete" method="POST">
            <% for(let i = 0; i < newItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox" name= "<%=listName%>" value="<%=newItems[i].todo%>" onChange="this.form.submit()">
                    <p> <%= newItems[i].todo %></p>
                </div>
            <% } %>
        </form>
        

        <form class="addTodoForm" action="/" method="POST">
            <input type="text" placeholder="Enter a task" name="newItem" autocomplete="off" autofocus="autofocus">
            <button type="submit" name="listName" value= <%= listName %> >+</button> <!-- set value to type passed from app.js -->
        </form>
    </div>
</body>

<%- include('footer'); -%>